.home{

    max-height: 90vh;
    height: 90vh;
    background: url(".//..//..//assets//car//racing_car.png") ,#151517;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.container{
    max-width: 120rem;
    margin: 0 auto;
    padding: 1.5rem;
    max-height: 90vh;
    height: 90vh;
    display: grid;
    place-items: center;
}

.btn-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 80%;
    gap: 3rem;
}

.btn-outline{
    width: 100%;
    text-align: center;
    border: 3px solid #FFC23C;
    padding: 5rem;
    font-size: 5rem;
    color: #FFC23C;
    border-radius: 5px;
    cursor: pointer;
    background: transparent;
    font-family: 'Squada One', sans-serif;
    transition: all 0.3s;
    text-decoration: none;
}

.btn-outline:hover{
    background: #FFC23C;
    color: #444445;
}
.btn-outline:active{
    background-color: #80611e;
    border: 3px solid #80611e;
}
