.map-holder{
    max-height: 90vh;
    height: 90vh;
    /*display: grid;*/
    /*grid-template-rows: 10rem 1fr;*/
}
/*.banner{*/
/*    background: #61dafb;*/
/*}*/
.map{
    height: 100%;
    width: 100%;

}
